:root {
    --colorp2: #191919;
    --colorprimary: #000000;
    --colorsecondary: #ffffff;
    --coloraccent: #05f903;
    --colorlinks: #0abefb;
    --ff: "JetBrains Mono", monospace;

    --h1: bold 32px/1.2 var(--ff);
    --h2: bold 24px/1.2 var(--ff);
    --h3: bold 18px/1.2 var(--ff);
    --links: bold 14px/1.2 var(--ff);
    --p2: 16px/1.4 var(--ff);
    --p: 14px/1.4 var(--ff);

    --transition: 0.3s ease-in-out;

    --spacing1: 4px;
    --spacing2: 8px;
    --spacing3: 12px;
    --spacing4: 16px;
    --spacing5: 24px;
    --spacing6: 32px;
    --spacing7: 48px;
}

html { scroll-behavior: smooth; }
body {
    font-family: var(--ff);
    margin: 0;
    background-color: var(--colorprimary);
    color: var(--colorsecondary);
}

h1, h2, h3, p { margin: 0; }
h1 { font: var(--h1); }
h2 { font: var(--h2); }
h3 { font: var(--h3); }
p { font: var(--p); }

a {
    text-decoration: none;
    color: var(--colorlinks);
    font: var(--links);
}
a:hover {
    color: var(--coloraccent);
    transition: var(--transition);
}

.center { text-align: center; }
.hidden { display: none; }

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacing4);
    flex-wrap: wrap;
}

.flex > * {
    flex: 1;
    min-width: 400px;
}

.reverse { flex-direction: row-reverse; }

section {
    width: 90vw;
    max-width: 1080px;
    margin: auto;
}

header {
    width: 90%;
    max-width: 1080px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing4) 0;
}

footer {
    background: var(--colorp2);
    padding: var(--spacing5) 0 var(--spacing6);
}

.sajid {
    text-align: center;
    padding: 100px 0;
}

@media (max-width: 800px) {
    .flex > * {
        min-width: 100%;
    }
}
