.env*
telegram-bot
obsidian-automation
stats.json
attachments/*
!attachments/.gitkeep
logs/*
!logs/.gitkeep
*.log

# Go-specific ignores
*.exe
*.test
vendor/
*.out
.Makefile.swp
/config/.env
*.log*
helix*
main
bot_binary
pdfs/
