apiVersion: v1
kind: Service
metadata:
  name: obsidian-bot
spec:
  selector:
    app: obsidian-bot
  ports:
  - protocol: TCP
    port: 8080
    targetPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: obsidian-ssh-server
spec:
  selector:
    app: obsidian-ssh-server
  ports:
  - name: ssh
    protocol: TCP
    port: 2222
    targetPort: 2222
  - name: api
    protocol: TCP
    port: 8081
    targetPort: 8081
---
apiVersion: v1
kind: Service
metadata:
  name: redis
spec:
  selector:
    app: redis
  ports:
  - protocol: TCP
    port: 6379
    targetPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: vault
spec:
  selector:
    app: vault
  ports:
  - protocol: TCP
    port: 8200
    targetPort: 8200
